.venv/
venv/
pycache/
.qodo
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env/
.env
.env.local
.env.*.local
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite
*.bak
*.swp
*.swo   
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml   
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
.pytype/
test/
outputs/
logs/
memory_persistence.py/
memory_strategies.py/
system_prompts_examples/
vector_db_rag_outdated.py
gitignore
.gitignore
__init__.py